apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "30s"
      queryTimeout: "30s"
      httpMethod: "POST"

  - name: "Dashboard provider"
    type: file
    disableDeletion: false
    updateIntervalSeconds: 10
    allowUiUpdates: false
    options:
      path: "{{ grafana_provisioning_path }}/dashboards"
      foldersFromFilesStructure: true
