[Unit]
Description=nftables rule updater managed by ansible
Wants=network-online.target
After=network-online.target,libvirtd.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=null
ProtectSystem=full
ProtectHome=true
ExecStart=/usr/local/sbin/nftables-service start
ExecReload=/usr/local/sbin/nftables-service reload
ExecStop=/usr/local/sbin/nftables-service stop
ReadWriteDirectories=/var/lib/nftables/

[Install]
WantedBy=sysinit.target
